// Variables

$light-grey: #ccc;
$dark-grey: #222;

$purple: #9F81F7;
$blue: #00bfff;

$white: #fff;

@import url(https://fonts.googleapis.com/css?family=Poiret+One);

$poiret: 'Poiret One', cursive;
    
    
